.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #31353d;
  width: 100%;
  text-align: center;
  color: white;
}
.registration .inputsItems{
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.error {
  color: red;
}

.registration button{
  color: #61dafb;
  font-weight: bold;
  text-shadow: -1px -1px #000;
  -webkit-user-select: none;
  outline: none;
  background-color: #31353d;
  box-shadow: rgba(0, 0, 0, .3) 0 2px 5px;
}

.registration input{
  background-color: #17171f;
  color: #61dafb;
  margin-bottom: 5px;
}
.registration span{
  color: white;
}
.registration .password{
  padding-right: 25px;
}
.registration .repeatPassword{
  padding-right: 79px;
  padding-bottom: 10px;
}